[submodule "backend"]
	path = backend
	url = ../projet-action-backend.git
[submodule "frontend"]
	path = frontend
	url = ../projet-action-frontend.git
[submodule "mobile"]
	path = mobile
	url = ../stox-mobile.git
	branch = v3
